
:root {
    --font: 'Poppins',sans-serif;
    --color1 : #75D007;
    --color2 : #DE3131;
}
.main {
    background-color: #f7f8fa  !important;
}
.main header {
    height: 70vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('http://fast-food.bold-themes.com/main-demo/wp-content/uploads/sites/2/2016/09/hero_inner_page.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
}
.main header .about-2 {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #fff;
}
.main header .about-2 h1 {
    font-size: 52px;
}
.main header .about-2 span {
    width: 60%;
    font-size: 1.25em;
    color: #B2B2B2;
}
.main .about-3 {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top:70px;
    padding-bottom: 70px;
    gap:20px;
}
.main .about-3 .p {
    padding-left:15px;
    background-color: var(--color2);
    color: #fff;
    padding-right:15px;
}
.main .about-3 span {
    width: 40%;
    color:#9d9d9d;
}
.main .about-3 h1 {
    font-size: 32px;
}
#goup {
    position: fixed;
    z-index: 20;
    right:30px;
    bottom:30px;
    border:none;
    background-color:#DF1313;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: none;
}
#goup:hover {
    cursor: pointer;
}
.main .about-3 .box {
    height:auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    
}
.main .about-3 .box .abox {
    height: 400px;
    width:260px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.main .about-3 .box .abox .img {
    height: 70%;
    width: 100%;
    overflow:hidden;
}
.main .about-3 .box .abox .img img {
    height: 100%;
    width: 100%;
}
.main .about-3 .box .abox .img:hover img {
    transform: scale(1.1);
    transition: 0.2s ease;
}
.main .about-3 .box .abox .info {
    height: 25%;
    width: 90%;
    padding-left:10%;
    padding-top:2.5%;
    padding-bottom: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.main .about-3 .box .abox .info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    list-style: none;
    gap:10px;
}
.main .about-3 .box .abox .info ul li {
    font-size: 18px;
    background-color: rgb(34, 34, 34);
    color: #fff;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(34, 34, 34);
}
.main .about-3 .box .abox .info ul li:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s ease;
}
.main .about-4 {
    height:auto;
    width: 94%;
    background-color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom:30px;
}
.main .about-4 .box {
    width: 80vw;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .about-4 .box .left {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: rgb(67, 67, 67);
    gap:10px;
}
.main .about-4 .box .left p {
    font-size: 14px;
    color: rgb(100, 100, 100);
}
.main .about-4 .box .left h1 {
    color: rgb(67, 67, 67);
    font-size: 52px;
}
.main .about-4 .box .right {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .about-4 .box .right img {
    height:80%;
    width: 70%;
}
.main .about-5 {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap:10px;
}
.main .about-5 h1 {
    font-size: 42px;
}
.swiper {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
  }


@media (max-width:950px) {
    .main header .about-2 span {
        width: 100%;
        font-size: 0.9em;
    }
    .main header .about-2 h1 {
        font-size: 32px;
    }
    .main .about-3 .box  {
        justify-content: center;
    }
    .main .about-3 span {
        width: 100%;
    }
    .main .about-4 .box {
        flex-direction: column;
        gap:20px;
    }
    .main .about-4 .box .left, .main .about-4 .box .right {
        width: 100%;
    }
}