.main {
    background-color: #fff;
}
.main header {
    height: 70vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../2017/06/background-pizza-home-top.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
    color: #fff;
}
.main header .gallery-2 {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #fff;
}
.main header .gallery-2 h1 {
    font-size: 52px;
}
.main header .gallery-2 span {
    width: 60%;
    font-size: 1.1em;
    color: #cccccc;
}
.main .cart-1 {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap:20px;
    padding-top:30px;
    padding-bottom: 30px;
}
.main .cart-1 .box {
    height: 150px;
    width: 98%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    padding:2%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
.main .cart-1 .box i {
    color: var(--color2);
    font-size: 24px;
}
.main .cart-1 .box img {
    height: 90%;
    width: auto;
}
.main .cart-1 .box h1 {
    width: 70%;
}
.main .cart-1 .total2 {
    height: 60px;
    width: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:20px;
}
.main .cart-1 .total {
    height: 60px;
    width: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
}
.main .cart-1 .total2 h2 {
    color: var(--color2);
}
.main .cart-1 .total button {
    height: 45px;
    width: 150px;
    background-color: var(--color2);
    color: #fff;
    border:none;
    border-radius: 5px;
    font-family: var(--font);
}

@media (max-width:950px) {
    .main header .gallery-2 span {
        width: 100%;
    }
    .main header .gallery-2 h1 {
        font-size: 32px;
    }
    .main header .gallery-2 span {
        font-size: 14px;
    }
    .main .cart-1 {
        width: 95vw;
        align-items: center;
    }
    .main .cart-1 .total {
        width: 100%;
    }
    .main .cart-1 .total2 {
        justify-content: space-evenly;
    }
    .main .cart-1 .box img {
        height: 50%;
    }
    .main .cart-1 .box h1 {
        width: 80%;
        font-size: 20px;
    }
    .main .cart-1 .box h2 {
        font-size: 18px;
    }
}