.main header {
    height: 70vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('http://fast-food.bold-themes.com/main-demo/wp-content/uploads/sites/2/2016/09/hero_inner_page.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
}
.main header .gallery-2 {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #fff;
}
.main header .gallery-2 h1 {
    font-size: 52px;
}
.main header .gallery-2 span {
    width: 60%;
    font-size: 1.25em;
    color: #cccccc;
}
.main .contact {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
}
.main .contact .form {
    display: flex;
    flex-direction: column;
    gap:10px;
    height: auto;
    width: 60%;
}
.main .contact .form p {
    background-color: var(--color2);
    width: 100px;
    text-align: center;
    color:#fff;
}
.main .contact .form h1 {
    font-size: 42px;
}
.main .contact .form span {
    color:rgb(175, 175, 175);
}
.main .contact .form input{
    height: 45px;
    width: 98%;
    padding-left:2%;
    outline: none;
    font-family: var(--font);
    border:none;
    border:1px solid rgb(208, 208, 208);
}
.main .contact .form select {
    width: 100%;
    height: 40px;
    padding-left:2%;
    outline: none;
    border:none;
    border:1px solid rgb(208, 208, 208);
    font-family: var(--font);
}
.main .contact .form select option{
   zoom:1.1;
}
.main .contact .form textarea {
    height: 200px;
    resize: none;
    width: 98%;
    outline: none;
    border:none;
    border:1px solid rgb(208, 208, 208);
    padding-top:10px;
    padding-left:2%;
    font-family: var(--font);
}
.main .contact .form button {
    height: 45px;
    width: 150px;
    background-color: var(--color2);
    font-family: var(--font);
    border:none;
    color: #fff;
}
.main .contact .right {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .contact .right img {
    height: auto;
    width: 90%;
}
.main .contact .right .box {
    height:auto;
    width: 100%;
    border:1px solid rgb(197, 197, 197);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-bottom:30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.main .contact .right .box p {
    width: 150px;
    text-align: center;
    background-color: var(--color2);
    color: #fff;
}
.main .contact .right .box span {
    color: gray;
}
.main .contact .right .box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .contact .right .box .icon:hover {
    color: var(--color2);
    transition: 0.3s ease;
    cursor: pointer;
}
.main .contact .right .box .icon i {
    color: var(--color2);
}
.main .contact .right .box ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.main .contact .right .box ul li i {
    padding:7px;
    background-color: var(--color2);
    color: #fff;
    border-radius: 5px;
    font-size: 22px;
}
@media (max-width:950px) {
    .main header .gallery-2 span {
        width: 100%;
        font-size: 0.9em;
    }
    .main header .gallery-2 h1 {
        font-size: 32px;
    }
    .main .contact {
        flex-direction: column;
    }
    .main .contact .form {
        width: 100%;
    }
    .main .contact .right {
        width: 100%;
    }
    .main .contact .right img {
        height: 30%;
        width: 40%;
    }
    .main .contact .form h1 {
        font-size: 32px;
    }
} 