.main header {
    height: 70vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://fast-food.bold-themes.com/main-demo/wp-content/uploads/sites/2/2016/07/hero_inner_portfolio.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
}
.main header .gallery-2 {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #fff;
}
.main header .gallery-2 h1 {
    font-size: 52px;
}
.main header .gallery-2 span {
    width: 60%;
    font-size: 1.25em;
    color: #cccccc;
}
.main .gallery {
    height:auto;
    width: 90vw;
    padding-top:50px;
    padding-bottom: 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
}
.main .gallery .image-box {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}
.main .gallery .image-box img {
    height: 250px;
    width: auto;
    overflow:hidden;
    border-radius: 5px;
}
.main .gallery .image-box img:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}

@media (max-width:950px) {
.main header .gallery-2 span {
    width: 100%;
    font-size: 0.9em;
}
} 