.main {
    background-color: #f3f3f3;
}
.main header {
    height: 70vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('http://fast-food.bold-themes.com/main-demo/wp-content/uploads/sites/2/2016/09/hero_inner_page.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
}
a {
    text-decoration: none;
    color: #000;
}
.main header .gallery-2 {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #fff;
}
.main header .gallery-2 h1 {
    font-size: 52px;
}
.main header .gallery-2 span {
    width: 60%;
    font-size: 1.25em;
    color: #cccccc;
}
.main .menu {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top:30px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.main .menu .p {
    width: 150px;
    text-align: center;
    background-color: var(--color2);
    color: #fff;
}
.main .menu h1 {
    font-size: 2.5rem;
}
.main .menu span {
    color: rgb(157, 157, 157);
}

.main .menu .mitem {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.main .menu .mitem .item {
    height: 120px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-bottom: 1px dotted rgb(204, 204, 204);
}
.main .menu .mitem .item img {
    height: 65%;
    width: auto;
    border-radius: 50%;
}
.main .menu .mitem .item img:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
.main .menu .mitem .item .info {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: flex-start;
}
.main .menu .mitem .item .price {
    color: var(--color2);
}
.main .menu .mitem .item .info:hover {
    color: var(--color2);
    transition: 0.2s ease;
    cursor: pointer;
}
.main .menu .mitem .item .info p {
    font-size: 12px;
}
.main .menu button {
    height: 45px;
    width: 200px;
    border:none;
    border-radius: 5px;
    font-family: var(--font);
    background-color: var(--color2);
    color:#fff;
    border:2px solid var(--color2);
}
.main .menu button:hover {
    background-color: transparent;
    color: var(--color2);
    transition: 0.2s ease;
}
.main .menu-2 {
    height: auto;
    width: 100vw;
    background-image: url("http://fast-food.bold-themes.com/main-demo/wp-content/uploads/sites/2/2017/01/background-menu-sweets.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .menu-2 .mitem2 {
    height: auto;
    padding-top:50px;
    padding-bottom: 50px;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap:10px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.main .menu-2 .mitem2 a {
    color: #fff !important;
}
.main .menu-2 .mitem2 .p {
    width: 150px;
    text-align: center;
    background-color: var(--color2);
}
.main .menu-2 .mitem2 h1 {
    font-size: 2rem;
}
.main .menu-2 .mitem {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.main .menu-2 .mitem .item {
    height: 120px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-bottom: 1px dotted white;
}
.main .menu-2 .mitem .item img {
    height: 65%;
    width: auto;
    border-radius: 50%;
}
.main .menu-2 .mitem .item img:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
.main .menu-2 .mitem .item .info {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: flex-start;
}
.main .menu-2 .mitem .item .info:hover {
    color: var(--color2);
    transition: 0.2s ease;
    cursor: pointer;
}
.main .menu-2 .mitem .item .info p {
    font-size: 12px;
}
.main .menu-2 button {
    height: 45px;
    width: 200px;
    border:none;
    border-radius: 5px;
    font-family: var(--font);
    background-color: var(--color2);
    color:#fff;
    border:2px solid var(--color2);
}
.main .menu-2 button:hover {
    background-color: transparent;
    color: var(--color2);
    transition: 0.2s ease;
}
@media (max-width:950px) {
    .main header .gallery-2 span {
        width: 100%;
        font-size: 0.9em;
    }
    .main .menu {
        width: 90vw;
    }
    .main .menu .mitem {
       width: 400px;
    }
    .main .menu-2 .mitem .item {
        width: 300px;
    }
    .main .menu-2 .mitem .item img {
        height: 45%;
    }
    .main .menu-2 .mitem .item .info h2 {
        font-size: 18px;
    }
    .main .menu-2 .mitem .item .info p {
        font-size: 10px;
    }
    .main .menu span {
        text-align: center;
    } 
    .main .menu h1 {
        font-size: 28px;
    }
    .main .menu .mitem .item {
        width: 300px;
    }
    .main .menu .mitem .item img {
        height: 45%;
    }
    .main .menu .mitem .item .info h2 {
        font-size: 18px;
    }
    .main .menu .mitem .item .info p {
        font-size: 8px;
    }
    .main .menu .mitem {
        width: auto;
    }
    .main header .gallery-2 h1 {
        font-size: 32px;
    }
}

@media (max-width:500px) {
    .main .menu-2 .mitem .item, .main .menu .mitem .item {
        width: 280px;
    }
    .main header .gallery-2 h1 {
        font-size: 32px;
    }
}