.main {
    background-color: #fff;
}
.main header {
    height: 70vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../2017/06/background-pizza-home-top.jpg') !important;
    background-position: center !important;
    background-size: cover !important;
    color: #fff;
}
.main header .gallery-2 {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    color: #fff;
}
.main header .gallery-2 h1 {
    font-size: 52px;
}
.main header .gallery-2 span {
    width: 60%;
    font-size: 1.1em;
    color: #cccccc;
}
.s-2 {
    padding-top:40px;
    height: auto;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:40px;
}
.s-2 .left {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-2 .left img {
    height: 70%;
    width: 70%;
}
.s-2 .right {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
}
.s-2 .right h1 {
    font-size: 42px;
}
.s-2 .right h2 {
    color: var(--color2);
}
.s-2 .right .box {
    display: flex;
    gap:10px;
}
.s-2 .right .box button {
    height: 40px;
    width: 150px;
    border:none;
    background-color: var(--color2);
    border-radius: 5px;
    color: #fff;
    font-family: var(--font);
}
.s-2 .right .box button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.21s ease;
}
.s-3 {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap:40px;
}
.s-3 h1 {
    font-size: 32px;
}
.s-3 .products {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.s-3 .products .box {
    height: 450px;
    width: 350px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.s-3 .products .box img {
    height: 50%;
    width: auto;
}
.s-3 .products .box h1 {
    font-size: 24px;
}
.s-3 .products .box h2 {
    color: var(--color2);
}
.s-3 .products .box .btns {
    display: flex;
    gap:10px;
}
.s-3 .products .box .btns button {
    height: 40px;
    width: 150px;
    border:none;
    background-color: var(--color1);
    color: #fff;
    font-family: var(--font);
    border-radius: 5px;
}
@media (max-width:950px) {
    .main header .gallery-2 span {
        width: 100%;
    }
    .main header .gallery-2 h1 {
        font-size: 32px;
    }
    .main header .gallery-2 span {
        font-size: 14px;
    }
    .s-2 {
        height: auto;
        flex-direction: column;
    }
    .s-2 .left, .s-2 .right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:290px) {
    .s-3 .products .box {
        width: 250px;
    }
    .s-3 .products .box .btns button {
        width: 100px;
    }
    .s-2 .right h1 {
        font-size: 30px;
    }
}