* {
    margin:0;
    padding:0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color2); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color2); 
  }
:root {
    --font: 'Poppins',sans-serif;
    --color1 : #75D007;
    --color2 : #DE3131;
}

body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
.main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}
.active {
    background-color: #fff;
    color: var(--color2);
    border-radius: 5px;
}
.main header {
    height: 100vh;
    width: 100%;
    background-image: url(../2017/06/background-pizza-home-top.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main header .header {
    height:100px;
    width: 80vw;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main header .header img {
    border-radius: 5px;
    height: 60px;
    width: 60px;
}
.main header .header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:5px;
    color: #fff;
    font-size: 18px;
}
.main header .header nav ul a {
    text-decoration: none;
    color: #fff;
}
#goup {
    position: fixed;
    z-index: 20;
    right:30px;
    bottom:30px;
    border:none;
    background-color:#DF1313;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: none;
}
#goup:hover {
    cursor: pointer;
}
.main header .header nav ul li {
    padding: 10px;
}
.main header .header nav ul li:hover {
    background-color: var(--color2);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.main header #open {
    display: none;
}
.main header menu, .main header menu ul {
    display: none;
}
.main header .text {
    height: 100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff
}
.main header .text button {
    background-color: var(--color1);
    height: 45px;
    width: 200px;
    border-radius: 5px;
    color: #fff;
    border:none;
    border-radius: 5px;
    outline: none;
    font-family:var(--font);
}
.main header .text button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
}
.main header .text h3 {
    font-size: 32px;
}
.main header .text h1 {
    font-size: 92px;
}
.main .sec-1 {
    height: auto;
    width: 100vw;
    background-image: url(../2017/06/background-tree-white.jpg);
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    gap:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.main .sec-1 h1 {
    font-size: 52px;
    color: var(--color2);
}
.main .sec-1 p {
    color:gray;
    font-weight: 100;
}
.main .sec-1 .food {
    height: auto;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:20px;
}
.main .sec-1 .food .box {
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.main .sec-1 .food .box img {
    height: 300px;
    width: 300px;
}
.main .sec-1 .food .box span {
    color:gray;
}
.main .sec-1 button {
    height: 50px;
    width: 220px;
    border:2px solid var(--color2);
    color: var(--color2);
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 18px;
}
.main .sec-1 button:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
    background-color: var(--color2);
    color: #fff;
}
.main .sec-3 {
    height: 600px;
    width: 100%;
    background-image: url(../2017/06/cell-background-pizza-right.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .sec-3 .box {
    width: 80vw;
    max-width: 1200px;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: flex-start;
    color:#fff;
}
.main .sec-3 .box p {
    font-size: 20px;
    padding:5px;
    width: 150px;
    text-align: center;
    background-color: var(--color1);
    border-radius: 5px;
}
.main .sec-3 .box h1 {
    font-size: 52px;
}
.main .sec-3 .box span {
    width: 50%;
    color: #f4f4f4;
    font-size:1.1em;
}
.main .sec-3 .box button {
    height: 45px;
    width: 150px;
    border:2px solid white;
    background-color: transparent;
    color:#fff;
    font-family: var(--font);
}
.main .sec-3 .box button:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    background-color: #fff;
    color:#000;
    cursor: pointer;
}
.main .sec-4 {
    height: auto;
    padding-top:30px;
    padding-bottom:30px;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .sec-4 .box {
    height: 100%;
    width: 100vw;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}
.main .sec-4 .box .fbox {
    height: 90%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    color: #fff;
}
.main .sec-4 .box .fbox img {
    height: 120px;
    width: 120px;
}
.main .sec-4 .box .fbox span {
    color:#F4F4F4;
    font-size: 12px;
}
.main .sec-5 {
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
}
.main .sec-5 .box {
    height: auto;
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
}
.main .sec-5 .box h1 {
    font-size: 3em;
    color:var(--color2);
}
.main .sec-5 .box .swiper {
    width: 100%;
    height: 400px;
  }

  .main .sec-5 .box .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .main .sec-5 .box .swiper-slide .left {
      height: 100%;
      width: 48%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .main .sec-5 .box .swiper-slide .right {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    text-align: left;
  }
  .main .sec-5 .box .swiper-slide .right h1 {
      color: #000;
      font-size: 2em;
  }
  .main .sec-5 .box .swiper-slide .right p {
      color: gray;
      font-size: 14px;
      font-weight: 400;
  }
  .main .sec-5 .box .swiper-slide .right button {
      height: 45px;
      width: 200px;
      border:2px solid var(--color2);
      background-color: transparent;
      color: var(--color2);
      font-family: var(--font);
  }
  .main .sec-5 .box .swiper-slide .right button:hover {
      transition: 0.2s ease;
      transform: scale(1.1);
      cursor: pointer;
      background-color: var(--color2);
      color: #fff;
  }
  .main .sec-5 .box .swiper-slide .left img {
      height: 90%;
      width: 90%;
      object-fit:contain;
  }

  .main .sec-5 .box  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .sec-6 {
      height: auto;
      width: 100%;
      background-color: #2E2C2C;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .main .sec-6 .box {
      height: 100%;
      width: 80vw;
      max-width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      color: #fff;
  }
  .main .sec-6 .box .left {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      gap:20px;
      padding-left:5%;
  }
  .main .sec-6 .box .left span {
      padding:10px;
      background-color: var(--color1);
      border-radius: 5px;
  }
  .main .sec-6 .box .left .row {
      display: flex;
      width: 300px;
      gap:20px;
      justify-content: center;
      align-items: center;
  }
  .main .sec-6 .box .left .row i {
      font-size: 62px;
      color: var(--color1);
  }
  .main .sec-6 .box .left ul {
      display: flex;
      gap:10px;
      list-style: none;
  }
  .main .sec-6 .box .left ul li {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #000;
      font-size: 22px;
  }
  .main .sec-6 .box .left ul li:hover {
      background-color: transparent;
      border:1px solid white;
      color: white;
      transition: 0.2s ease;
  }
  .main .sec-6 .box .right{
    height: 100%;
    width: 59%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.main .sec-6 .box .right img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.main .sec-7 {
    height: 500px;
    width: 100%;
}
.main .sec-8 {
    height: 150px;
    width: 100%;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main .sec-8 .box {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.main .sec-8 .box h1 {
    font-size:42px;
}
.main .sec-8 .box button {
    height: 45px;
    width: 150px;
    background-color: transparent;
    color: #fff;
    border:2px solid #fff;
    font-family: var(--font);

}
.main .sec-8 .box button:hover {
    background-color: #fff;
    color: var(--color2);
    transition: 0.2s ease;
}
.main footer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main footer .box {
    height:100%;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main footer .box ul {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    list-style: none;
    font-size: 30px;
}
#overlayer {
    width:100%;
    height:100vh;  
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background:#4a4a4a;
    flex-direction: column;
    gap:20px;
}
.preloader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index:3;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    25% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
    75% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }
  @-webkit-keyframes loader-inner {
    0% {
      height: 0%;
    }
    25% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
    75% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }


  
@media (max-width:950px) {
    .main header .header nav {
        display: none;
    }
    .main header .text h3 {
        font-size:22px;
    }
    .main header .text h1 {
        font-size: 32px;
    }
    .main header menu {
        display: none;
        height: 100vh;
        position: fixed;
        z-index: 10;
        width: 100%;
        background-color: var(--color2);
    }
    .main header #open, .main header #close {
        display: block;
        position: absolute;
        right:50px;
        top:30px;
        font-size: 32px;
        color: #fff;
    }
    .main header #open:hover, .main header #close:hover {
        cursor: pointer;
    }
    .main header menu ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        flex-direction: column;
        gap:20px;
        list-style: none;
        font-size: 22px;
    }
    .main header menu ul a li {
        padding:10px;
    }
    .main header menu ul a {
        text-decoration: none;
        color:#fff;
    }
    .main header .header img {
        height:50px;
        width: 50px;
    }
    .main .sec-3 .box h1 {
        font-size: 30px;
    }
    .main .sec-3 .box p {
        font-size: 16px;
    }
    .main .sec-3 .box span {
        width: 100%;
        font-size: 14px;
    }
    .main .sec-5 .box .swiper {
        height: 600px;
    }
    .main .sec-5 .box .swiper-slide {
        flex-direction: column;
    }
    .main .sec-5 .box .swiper-slide .left img {
        object-fit:contain;
    }
    .main .sec-5 .box .swiper-slide .left, .main .sec-5 .box .swiper-slide .right {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 350px;
    }
    .main .sec-5 .box .swiper-slide .right {
        justify-content: flex-start;
    }
    .main .sec-6 {
        height: auto;
        padding-top:20px;
        padding-bottom: 20px;
    }
    .main .sec-6 .box {
        flex-direction: column;
        gap:50px;
    }
    .main .sec-6 .box .left, .main .sec-6 .box .right {
        width: 100%;
    }
    .main .sec-8 .box {
        flex-direction: column;
        gap:10px;
        align-items: flex-start;
    }
    .main .sec-8 .box h1 {
        font-size: 30px;
    }
    .main footer .box {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:10px;
    }
}